name: Update IPTV_EPG

on:
  schedule:
    # 每2天北京时间早上 6:00 运行一次 (UTC 22:00)
    - cron: '0 22 */2 * *'
  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create IPTV Directory
        run: mkdir -p IPTV_EPG

      - name: Download EPG File
        run: |
          # 可更换 EPG 节目表下载地址：http://epg.51zmt.top:8000/e1.xml
          curl -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" \
               -L "http://epg.51zmt.top:8000/e1.xml" \
               --retry 5 \
               --retry-delay 10 \
               -o IPTV_EPG/e1.xml
          # 可再添加另一个 EPG 节目表，文件名称“another.xml”可修改自定义
          # curl -A "Mozilla/5.0" -L "http://另一个源地址" -o IPTV_EPG/another.xml
          
      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          # 自动创建 IPTV 文件夹，如果已经存在，不再创建，再将 e1.xml 上传到 IPTV 文件夹内
          git add IPTV_EPG/e1.xml
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update EPG $(date +'%Y-%m-%d %H:%M')" && git push)
